html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

img {
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.playarea {
    background-color: green;
    margin: auto;
}

.playarea__relative-center {
    position: relative;
}

.cards {
    position: absolute;
}

.rotate {
    position: absolute;
    -webkit-transform: rotate(90deg) translatez(0);
    transform: rotate(90deg) translatez(0);
    margin-top: 50px;
    -webkit-transform-origin: 50%  51%;
}

.card {
    position: absolute;
}

.card__image {
    object-fit: none;
    width: 79px;
    height: 123px;
    border-radius: 7px;
}

.card__image--back {
    object-position: -158px -492px;
}